<!doctype html>
<html lang="en">
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<head>
        <title>Home</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS v5.2.0-beta1 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/all.css"> 
        <link rel="stylesheet" href="../static/css/carousel.css">
        <!-- --------------------------------------------------------------------------------------------------------------------- -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/assets/owl.carousel.min.css'>
        <link rel='stylesheet' href='https://themes.audemedia.com/html/goodgrowth/css/owl.theme.default.min.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<body>
  <header class="head_area">
      <!-- ******************************************************************************************************************** -->
      <div class="main">
          <nav class="navbar navbar-expand-lg shadow-lg">
              <div class="container-fluid">
                <a class="navbar-brand" href="../templates/index.html"><img class="img-logo" src="../static/icon/icons8-jira-144.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <div class="me-auto"></div>
                  <ul class="navbar-nav me-auto mb-2 mb-lg-auto">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="../templates/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../templates/about.html">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../templates/myProfile.html">Profile</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="../templates/contactme.html">Contact</a>
                    </li>
                  </ul>
                </div>
              </div>
          </nav>
      </div>
  <!-- ************************************************************************************************************************ -->
  </header>
        <!-- ************************************************************************************************************************ -->
  <main class="main-content">
    <section class="banner mt-5 mb-3">
      <div class="container">
        <div class="row">
          <div class="card shadow-effect">
            <div class="card-body">
              <h2 class="card-title text-center py-0 pb-0">Contact Me</h2>
              <h4 class="paragraph py-2  w-100" style="font-weight: 500;">Mobile No: 8600859005</h4>
              <h4 class="paragraph py-2  w-100" style="font-weight: 500;">Email ID: giretejas@gmail.com</h4>
              <h4 class="paragraph py-2  w-100" style="font-weight: 500;">Linkedin: https://www.linkedin.com/giretejas</h4>
              <h4 class="paragraph py-2  w-100" style="font-weight: 500;">Github : https://www.github.com/giretejas</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
        <!-- ---------------------------------------------------------------------------------------------------------------- -->
  </main>
  <!-- ************************************************************************************************************************ -->
  <footer>
    <div class="container">
      <footer class="py-4">
        <div class="row">
          <div class="col-md-4">
          </div>
          
          <div class="wrapper-logo col-md-8 mb-4">
            <div class="icon facebook">
               <div class="tooltip">
                Facebook
               </div>
               <span><a href="https://www.facebook.com" style="text-decoration:none" id="ctafoot"><i class="fab fa-facebook-f"></i></a></span>
            </div>
            <div class="icon twitter">
               <div class="tooltip">
                Twitter
               </div>
               <span><a href="https://www.twitter.com" style="text-decoration:none" id="ctafoot"><i class="fab fa-twitter"></i></a></span>
            </div>
            <div class="icon github">
               <div class="tooltip">
                Github
               </div>
               <span><a href="https://github.com/giretejas " style="text-decoration:none" id="ctafoot"><i class="fab fa-github"></i></a></span>
            </div>
    
            <div class="icon youtube">
              <div class="tooltip">
               Whatsapp
              </div>
              <span><a href="https://api.whatsapp.com/send?phone=918600859005&text " style="text-decoration:none" id="ctafoot"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></span>
           </div>
           </div>
        <div class="d-flex flex-column flex-sm-row justify-content-center py-1 my-1 border-top">
          <p>&copy; 2022 Tejas Gire, Inc. All rights reserved. &nbsp;  Designed,Developed and Maintained by <span><b>Tejas Gire</b></span></p>
        </div>
  </footer>
  <!-- ************************************************************************************************************************ -->

        <!-- ------------------------------------------------------------------------------------------------------------------------ -->
        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
        <script src="/Web Portfolio/static/js/jquery.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/owl.carousel.min.js'></script>
        <script  src="../static/js/carousel.js"></script>
        
        <!-- ------------------------------------------------------------------------------------------------------------------------ -->
</body>
</html>